@import 'fonts.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(../images/body.png)no-repeat center/cover
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.intro{
    background:url(../images/image\ 4.png) no-repeat center/cover;
    width: 100%;
    padding-bottom: 460px;
}
.intro__wrapper{
    width: 848px;
    text-align-last: left;
}
.header__title{
    color: #FFF;
    font-family: 'Lobster';
    font-size: 80px;
    padding-top: 177px;
    padding-left: 15px;
}
.header__text{
    color:#F2F2F2;
    font-family: 'Roboto';
    font-size: 25px;
    margin-top: 25px;
    width: 530px;
    padding-left: 15px;
}
.link{
    color: #000;
    font-family: 'Roboto';
    font-size: 18px;
    padding: 18px 47px;
    border-radius: 30px;
    background: #EABF3C;
    display: inline-block;
    margin-top: 25px;
    margin-left: 15px;
}
.min-box{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.min-box span{
    width: 112px;
    height: 78px;
    background: url(../images/min-img.png);
    display: inline-block;
    margin-top: 180px;
}
.title{
    font-family: 'Lobster';
    font-size: 60px;
    color: #EABF3C;
    padding-left: 15px;
}
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    flex-wrap: wrap;
}
.box__inner{
    padding: 12px;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition:  .4s;
}
.box__inner:hover{
    background: #EABF3C;
}
.catering__img{
    width: 110px;
    height: 110px;
}
.box__inner-title{
    margin-top: 22px;
    color: #FFF;
    font-family: 'Lobster';
    font-size: 30px;
    text-align: center;
}
.box__inner-text{
    margin-top: 13px;
    color:#E0E0E0;
    font-family: 'Roboto';
    font-size: 16px;
    width: 192px;
    text-align: center;
}
.from-us{
    margin-top: 180px;
}
.from-us h2{
    color: #FFF;
}
.beer1{
    width: 210px;
    height: 358px;
    margin-right: 18px;
}
.beer2{
    width: 380px;
    height: 358px;
}
.box-right{
    height: 358px;
    display: flex;
    align-items: center;
}
.box-left{
    width: 540px;
}
.crayfish{
    margin-top: 110px;
}
.crayfish__title{
    position: relative;
    margin-bottom: 20px;
    transition: .4s;
}
.crayfish__inner:hover .crayfish__title{
    display: block;
}
.triangle-down {
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 16px solid #EB5757;
    position: absolute;
    top: 42px;
    left: 113px;
}
.crayfish__inner-title{
    color: #FFF;
    text-align: center;
    font-family: 'Roboto';
    font-size: 15px;
    border-radius: 30px;
    background: #EB5757;
    padding: 13px 6px;
}
.crayfish__size{
    color: #FFF;
    text-align: left;
    font-family: 'Lobster';
    font-size: 25px;
}
.cooking{
    margin-top: 180px;
}
.cooking__box{
    width: 992px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 24px;
    background: #EABF3C;
}
.cooking__box h2{
    margin-top: 29px;
    color: #FFF;
    text-align: center;
}
.cooking__box p{
    margin-top: 17px;
    text-align: center;
    width: 710px;
    margin: 0 auto;
    margin-bottom: 15px;
}
.recipes{
    margin-top: 180px;
}
.recipes__box-left{
    background: url(../images/combo.png)no-repeat center/cover;
    width: 583px;
    height: 633px;
}
.recipes__box-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.recipes__box-right p{
    width: 570px;
}
.min-inner{
    padding: 66px 15px;
    width: 254px;
    border-radius: 24px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%), url(../images/cheesburger.png)no-repeat center/cover, lightgray 50%;
}
.wrapper{
    display: flex;
    margin-top: 12px;
}
.min-inner{
    margin-right: 15px;
}
.text{
    color: #F2F2F2;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
    width: 710px;
}
.calcul{
    margin-top: 180px;
}
.calcul h2{
    color: #F2F2F2;
}
.calcul__inner-title{
    color: #F2F2F2;
    font-family: 'Roboto';
    font-size: 18px;
    border-radius: 30px;
    border: 1px solid  #F2F2F2;
    padding: 18px 28px 18px ;
    background: none;
}
.input__title{
    color:  #F2C94C;
    font-family: 'Roboto';
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 46px;
}
.discount{
    margin-top: 170px;
}
.discount__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 38px 150px 123px;
    border-radius: 25px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),url(../images/Rectangle\ 37.png) no-repeat center/cover, #C4C4C4;
}
.footer__box{
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
}
.footer h2{
    color: #F2F2F2;
}
.contact{
    color:#F2F2F2;
    text-align: center;
    font-family: 'Roboto';
    font-size: 25px;
}
.contact:nth-last-child(1){
    margin-bottom: 25px;
}